@import './normalize.css';
@import './reset.css';
@import '../fonts/fonts.css';
@import './root.css';

* {
  font-family: var(--font-primary);
  font-size: var(--text-size);
}

.body {
  background: var(--color-bg);
  color: var(--color-text);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: var(--padding-x-lg-md);
  padding-right: var(--padding-x-lg-md);
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: var(--padding-x-md-sm);
    padding-right: var(--padding-x-md-sm);
  }
}

.button {
  color: var(--color-btn-text);
  line-height: 24px;
  padding: 0 13px;
  text-transform: lowercase;
}

.button.active {
  border: 1px solid var(--color-border);
}

/* header --------------------------------------------------*/

.header__inner {
  padding-block: clamp(0.625rem, 0.2639rem + 1.5408vw, 1.25rem);
  background: var(--image-bg);
}

.header__theme-switcher {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .header__theme-switcher {
    flex-direction: column;
    align-items: end;
    margin-top: calc(clamp(4.6875rem, -1.0973rem + 24.6819vw, 10.75rem) - var(--padding-x-md-sm));
  }
}

.header__title {
  position: relative;
  left: -20px;
  font-size: var(--title-size-lg-md);
  font-weight: bold;
  text-transform: lowercase;
  color: var(--color-title-text);
  text-shadow: 4px 4px 0px var(--color-title-shadow);
  margin-top: clamp(10.8125rem, -7.9375rem + 39.0625vw, 17.0625rem);
}

@media screen and (max-width: 768px) {
  .header__title {
    left: 0;
    font-size: var(--title-size-md-sm);
    margin-top: clamp(4.0625rem, -2.3783rem + 27.4809vw, 10.8125rem);
  }
}

@media screen and (max-width: 375px) {
  .header__title {
    left: 0;
    /*116px => 96px: для экранов от 375px до 320px */
    font-size: clamp(6rem, -1.2727rem + 36.3636vw, 7.25rem);
  }
}

.header__text {
  display: flex;
  justify-content: right;
  margin-top: clamp(10.125rem, 19.125rem + -18.75vw, 7.125rem);
  margin-bottom: clamp(10.8125rem, 19.8125rem + -18.75vw, 7.8125rem);
}

@media screen and (max-width: 768px) {
  .header__text {
    margin-top: clamp(3.4375rem, -2.9437rem + 27.2265vw, 10.125rem);
    margin-bottom: clamp(3.5rem, -3.4776rem + 29.771vw, 10.8125rem);
  }
}

.header__text>p {
  max-width: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  color: var(--color-text-secondary);
  background-color: var(--color-text-bg);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .header__text>p {
    max-width: clamp(22.1875rem, 21.6508rem + 2.2901vw, 22.75rem);
  }
}